body{
    height: 100vh;
    color:#303744;
    overflow: hidden
}

.pointer{cursor: pointer}

.relative{position: relative}

img{max-width: 100%}

.poster{border-radius: 8px}

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: orangered;
}