.spinner, .wisespinner {
    -webkit-animation: rotation 0.6s infinite linear;
    animation: rotation 0.6s infinite linear;
    border-left: 4px solid rgba(255, 51, 102, 0.2);
    border-right: 4px solid rgba(255, 51, 102, 0.2);
    border-bottom: 4px solid rgba(255, 51, 102, 0.2);
    border-top: 4px solid #ff3366;
    border-radius: 100%;
    z-index: 9999;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    margin-left: -30px;
    margin-top: -30px;
    background-color: transparent;
    position: absolute;
    display: block;
}

.wisespinner {
    display:none;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

main, #hero {
    margin: auto;
    max-width: 1128px;
}

section, main {padding:30px}

.flex-item {display:flex}

.item {
    margin-bottom: 45px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 2rem;
    text-align: center;
}

.column {flex-direction: column}

.space-between {justify-content: space-between}

#hero {
    padding-top: 48px;
    padding-bottom: 56px;
    text-align: center;
}

#hero h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 900;
}

#hero p {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 28px;
    padding-top: 28px;
    margin-bottom: 0;
    position: relative;
}

#hero p:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 3px;
    top: 0;
    left: 50%;
    margin-left: -20px;
    background: #ff3366;
}

.rating {
    list-style-type:none;
    margin:0;
}
.star polygon {
    fill: #ffd055;
}
.star, .checkbox {
    display: inline-block
}

.checkbox {margin:5px}

@media (max-width: 768px) {
    .gutters {
        text-align:center;
    }
}