<div class="spinner" spinner></div>

<form class="form">
    <div class="row gutters">
        <div class="col col-12">
            <div class="form-item">
                <label>Name Filter <span class="desc">by movie title</span></label>
                <input ng-model="search.title" type="text" class="search">
                <div class="desc">Quick filter movies by title</div>
            </div>
        </div>
    </div>
</form>

<fieldset>
    <legend>Genre filter</legend>
    <label ng-repeat="categorie in vm.categories" class="checkbox">
        <input type="checkbox"
               value="{{categorie.name}}"
               ng-checked="vm.selection.indexOf(categorie) > -1"
               ng-click="vm.toggleSelection(categorie.name)"> {{categorie.name}}
    </label>
</fieldset>

<div class="row gutters">
    <div class="col col-4 item flex-item column space-between" ng-repeat="movie in vm.data | filter:search">
        <aside>
            <a ui-sref="movie({id: movie.id })"><img ng-src="{{movie.poster}}" /></a>
        </aside>
        <aside>
            <h4><a ui-sref="movie({id: movie.id })">{{movie.title}}</a></h4>
            <p><b>Rating:</b> {{movie.rating}}, <b>Genre:</b> {{movie.category.name}}, <b>Year:</b> {{movie.year}}</p>
        </aside>
        <aside>
            <star-loader></star-loader>
        </aside>
    </div>
</div>
