<div class="container">
    <div class="columns">
        <div class="column col-3 col-sm-12">
            <div class="form-group">
                <label class="form-label" for="input-example-1">Filter</label>
                <input class="form-input" [(ngModel)]='listFilter' type="text" id="input-example-1" placeholder="Filter by Title" />
            </div>
        </div>

        <aside class="column col-9 col-sm-12">
            <div class="columns">
                <div *ngFor='let movie of movies | movieFilter:listFilter' class="column movie-item">
                    <a [routerLink]="['/detail', movie.id]">
                        <img class="poster" [src]='movie.poster' [title]='movie.title'>
                    </a>
                </div>
            </div>
        </aside>
    </div>
</div>