<div class="relative">
    <div class="crop" [style.width.px]="starWidth" [title]="rating">
        <div class="stars" style="width: 260px">
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
            <span class="glyphicon glyphicon-star">★</span>
        </div>
    </div>
    <div class="stars stars-mock" style="width: 260px">
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
        <span class="glyphicon glyphicon-star">☆</span>
    </div>
</div>